* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow-y: hidden;
}


/* .nine-dots {
    width: 40px;
    color: #5f6368;
    cursor: pointer;
    height: 40px;
} */

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 48px;
    align-items: center;
    margin: 6px 0;
    padding-right: 18px;
}

nav a {
    color: rgba(0, 0, 0, 0.87);
    line-height: 24px;
    text-decoration: none;
    display: block;
    margin-left: 15px;
    font-weight: normal;
    font-size: 13px;
}

nav a:nth-child(3) {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-left: 25px;
}

nav svg.nine-dots {
    /* height: 30px;
    width: 30px; */
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
    font-size: 13px;
}

nav img {
    margin-left: 18px;
    border-radius: 50%;
}

div.image {
    min-height: 92px;
    max-height: 290px;
    height: calc(100vh - 560px);
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

div.input-box {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 26px auto;
    width: auto;
    max-width: 584px;
}