* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow-y: hidden;
}


/* .nine-dots {
    width: 40px;
    color: #5f6368;
    cursor: pointer;
    height: 40px;
} */

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 48px;
    align-items: center;
    margin: 6px 0;
    padding-right: 18px;
}

nav a {
    color: rgba(0, 0, 0, 0.87);
    line-height: 24px;
    text-decoration: none;
    display: block;
    margin-left: 15px;
    font-weight: normal;
    font-size: 13px;
}

nav a:nth-child(3) {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-left: 25px;
}

nav svg.nine-dots {
    /* height: 30px;
    width: 30px; */
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
    font-size: 13px;
}

nav img {
    margin-left: 18px;
    border-radius: 50%;
}

div.image {
    min-height: 92px;
    max-height: 290px;
    height: calc(100vh - 560px);
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

div.input-box {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 26px auto;
    width: auto;
    max-width: 584px;
    align-items: center;
    padding: 5px 16px;
}

div.input-box:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.input-box svg {
    height: 20px;
    width: 20px;
    color: #9aa0a6;
    fill: currentColor;
}

input {
    background-color: transparent;
    border: none;
    margin: 0 13px;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    /* margin-top: -37px; */
    height: 34px;
    font-size: 16px;
}

.flex {
    display: flex;
    height: 70px;
    justify-content: center;
}

.flex button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.flex button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.flex button:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

.languages {
    /* margin-top: 20px; */
    text-align: center;
    font-size: small;
    display: block;
    line-height: 28px;
}

.languages a {
    color: #1a0dab;
    padding: 0 3px;
    text-decoration: none;
}

footer {
    background: #f2f2f2;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

.step1,
.step2 {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.step2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}

.step1 p {
    font-size: 15px;
}

.step2 a {
    color: #70757a;
    /* display: block; */
    padding-right: 30px;
    text-decoration: none;
    font-size: 14px;
}